body {
  font-family: 'Lora', serif;
}

a {
  color: #00ccff;
}

a:hover {
  color: #4ddbff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  margin: 0.4em 0;
  font-family: 'Inconsolata', monospace;
}

p {
  margin: 0.4em 0;
  line-height: 1.5;
}

.hero {
  display: flex;
  min-height: 95vh;
  background: #111017;
  color: #fefefe;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 10em 0;
  background: url(triangles.png) top right no-repeat;
  box-shadow: inset  0  12px 12px -12px #777,
    inset 0 -12px 12px -12px #777;
}

.section > div {
  margin-left: auto;
  margin-right: auto;
  width: 876px;
}

.section > div > * {
  width: 50%;
}

.primary {
  background: #7B1E7A url(noise.png) no-repeat;;
  color: #fff;
}

.secondary {
  background: #B33F62 url(pixels.png) no-repeat;
  color: #fff;
}

.hero > h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 16px solid rgba(255, 255, 255, 0.75);
  animation: typewriter 2s steps(20, end) 1s 1 normal both,
    cursor 800ms steps(1, end) infinite;
}

.primary, .secondary {
  box-shadow: none;
}

.primary > div, .secondary > div {
  padding-left: 50%;
}

footer {
  background-color: #0C0A3E;
  color: #fefefe;
  text-align: center;
  padding: 5em;
}

@keyframes typewriter {
  from {
    width: 32px;
  }
  to {
    width: 352px;
  }
}

@keyframes cursor {
  from, to {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  50% {
    border-right-color: transparent;
  }
}